.store {
  margin-bottom: 75px;
}
.store .store__row {
  display: flex;
  gap: 80px;
  position: relative;
  margin-bottom: 85px;
}
@media (max-width: 1178px) {
  .store .store__row {
    flex-direction: column;
  }
}
@media (max-width: 1178px) {
  .store .store__row .categories {
    display: flex;
    gap: 15px;
    overflow-x: scroll;
    background-color: #EFEEF6;
  }
}
.store .store__row .categories .categories__item {
  font-size: 12px;
  font-weight: 500;
  color: #5C6A79;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 23px;
  transition: transform 0.3s;
}
@media (max-width: 1178px) {
  .store .store__row .categories .categories__item {
    flex: 1 0 auto;
  }
}
.store .store__row .categories .categories__item.active {
  font-size: 16px;
  font-weight: 700;
  color: #1C2A39;
  position: relative;
}
.store .store__row .categories .categories__item.active:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #756AD3;
  position: absolute;
  left: -15px;
  top: 6px;
}
.store .store__row .categories .categories__item:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.store .store__row .categories__bg {
  position: absolute;
  width: 416px;
  height: 720px;
  background-color: #EFEEF6;
  left: -175px;
  top: -45px;
  z-index: -1;
}
@media (max-width: 1178px) {
  .store .store__row .categories__bg {
    display: none;
  }
}
.store .store__row .books {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 96px;
}
@media (max-width: 900px) {
  .store .store__row .books {
    justify-content: center;
    row-gap: 70px;
  }
}
@media (max-width: 450px) {
  .store .store__row .books {
    row-gap: 0;
  }
}
.store .store__row .books .book__img {
  width: 212px;
}
.store .store__row .books .book__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 450px) {
  .store .store__row .books .book__img {
    transform: scale(0.75);
  }
}
.store .store__row .books .book {
  display: flex;
  justify-content: space-between;
  width: 424px;
}
.store .store__row .books .book .book__info {
  padding: 36px 0;
  max-width: 176px;
  display: flex;
  flex-direction: column;
}
.store .store__row .books .book .book__info .book__autor {
  font-family: OpenSans, sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 4px;
}
.store .store__row .books .book .book__info .book__title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
  color: #1C2A39;
}
.store .store__row .books .book .book__info .book__rating {
  font-family: OpenSans, sans-serif;
  font-weight: 400;
  margin-bottom: 16px;
  display: flex;
  gap: 6px;
}
.store .store__row .books .book .book__info .book__subtitle {
  font-family: OpenSans, sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 16px;
  flex: 1 1 auto;
}
.store .store__row .books .book .book__info .book__price {
  font-size: 13px;
  font-weight: 700;
  color: #1C2A39;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.store .store__row .books .book .book__info .none {
  visibility: hidden;
}
.store .book__button {
  color: #4C3DB2;
  font-size: 8px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 18px 67px;
  border: 1px solid #4C3DB2;
  background-color: white;
  display: block;
  margin: 0 auto;
  transition: all 0.3s;
}
.store .book__button:hover {
  cursor: pointer;
  background-color: #4C3DB2;
  color: white;
}