.header {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 5;

  .header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 116px;  
    
    .header__burger { 
      display: none;

      & span{
        display: block;
        width: 18px;
        height: 3px;
        background-color: #1C2A39;
        margin-bottom: 2px;
        border-radius: 5px;
      }    
    @media (max-width:819px) {
      display: block;

    }
    
  }

    .navbar {
      @media (max-width:819px) {
        display: none;
      }

      .navbar__links {
        display: flex;
        gap: 40px;
        
        .navbar__link {
         
          a {
          text-transform: uppercase;
          color: #5C6A79;
          }

          &.active a{
            color: #1C2A39;
            font-weight: 900;
          }   
        }
      }
    }

    .iconsbar {
      display: flex;
      gap: 40px;
    }
  }
}
